
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Fecha estreno</th>
        <th>Cantidad publico</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <!-- aca va el evento para tomar un elemento de la fila-->
      <tr *ngFor="let pelicula of peliculas" (click)="mostrarDatosPelicula(pelicula)">
        <td>{{pelicula.nombre}}</td>
        <td>{{pelicula.tipo}}</td>
        <td>{{pelicula.fecha_estreno}}</td>
        <td>{{pelicula.cantidad_publico}}</td>
        <td> <img src="{{pelicula.foto}}"></td>
      </tr>
    </tbody>
  </table>
