
<app-menu></app-menu>
<div class="container">
    <div class="">
        <h1 class="display-3 m-4">Listado de peliculas</h1>
        <p>Seleccione la pelicula que desea modificar, mostrar o borrar</p>
        <!-- <p>Haz click en mostrar peliculas y veras las que estan en cartelera</p>
        <p><a class="btn btn-success " href="#" role="button">Mostrar peliculas »</a></p> -->
        
        <!-- child component este tiene que tener un evento-->
        <app-tabla-pelicula  (mostrarPelicula)="mostrarDatosPelicula($event)"></app-tabla-pelicula>
        
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4 mt-2">
                <app-borrar-pelicula [peliculaB]="datos"  (peliculaBorrada)="borrarPeliculaB($event)"></app-borrar-pelicula>
              </div>
              <div class="col-md-4 mt-2">
                <app-detalle-pelicula [pelicula]="datos"></app-detalle-pelicula>
              </div>
              <div class="col-md-4 mt-2">
                <app-modificar-pelicula [peliculaMod]="datos" (peliculaModificada)="modificarPeliculaB($event)"></app-modificar-pelicula>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->

