
<app-menu></app-menu>
<div class="container">
    <div class="">
        <h1 class="display-3 m-5">Listado de peliculas</h1>
        <!-- <p>Haz click en mostrar peliculas y veras las que estan en cartelera</p>
        <p><a class="btn btn-success " href="#" role="button">Mostrar peliculas »</a></p> -->
        
        <!-- child component-->
        <app-tabla-pelicula></app-tabla-pelicula>
        
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-4 mt-2">
                <h2>Borrar</h2>
                <app-borrar-pelicula></app-borrar-pelicula>
                <p>dummy text</p>
                <p><a class="btn btn-secondary" href="#" role="button">Borrar »</a></p>
              </div>
              <div class="col-md-4 mt-2">
                <h2>Mostrar</h2>
                <p>dummy text</p>
                <p><a class="btn btn-secondary" href="#" role="button">Limpiar »</a></p>
              </div>
              <div class="col-md-4 mt-2">
                <h2>Modificar</h2>
                <app-modificar-pelicula></app-modificar-pelicula>
                <p>dummy text</p>
                <p><a class="btn btn-secondary" href="#" role="button">Guardar cambios »</a></p>
              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>
