.container {
    background-size: 90% auto;
    background-position: center top;
    background-repeat: no-repeat;
    height: 70vh;
  }
  
  .banner{
	background: rgb(122,7,199);
	background: linear-gradient(90deg, rgba(122,7,199,1) 0%, rgba(214,82,82,1) 100%, rgba(252,176,69,1) 100%);
	color: white;
	font-weight: bold;
  }
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }